.banner {
    width: 100%;
    height: 20rem;
    margin-top: 2rem;
    font-size: 6.4rem;
    background: linear-gradient(83deg, rgba(1, 67, 90, 0.40) 0%, rgba(1, 67, 90, 0.05) 100%);
    justify-content: center;
    align-items: center;
    font-family: great;
    text-transform: capitalize;
    flex-direction: column;
    position: relative;
}

.banner .heading {
    opacity: 0.8;
}

.banner .vector {
    width: 52rem;
    position: absolute;
    bottom: 1rem;
}

.main-content {
    width: var(--width-web);
    margin: var(--margin-section-desktop);


}
