.img-error {
    width: 50%;
    height: auto;
    margin: var(--margin-section-desktop);
}

.button {
    background: var(--primary-color);
    width: 25rem;
    height: 5rem;
    border-radius: 1rem;
    margin: 5rem auto 0 auto;
}

.button a {
    color: #fff;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: 2rem;
    text-align: center;
    line-height: 5rem;
}

.button a:hover {
    border-radius: 1rem;
    transition: background 2.5s, color 2.5s ;
    background: #ccc;
    color: #000;
}